[Unit]
Description=mega-scorpio
After=network.target

[Service]
ExecStart=/usr/local/bin/start-scorpio.sh
WorkingDirectory=/root/.cargo/bin
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target