{
  "schema": [
    {
      "label": "program",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" },
        { "name": "description", "type": "STRING" },
        { "name": "namespace", "type": "STRING" },
        { "name": "max_version", "type": "STRING" },
        { "name": "github_url", "type": "STRING" },
        { "name": "mega_url", "type": "STRING" },
        { "name": "doc_url", "type": "STRING" }
      ],
      "primary": "id"
    },
    {
      "label": "library",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" },
        { "name": "downloads", "type": "INT64" },
        { "name": "cratesio", "type": "STRING", "optional": true }
      ],
      "primary": "id"
    },
    {
      "label": "application",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" }
      ],
      "primary": "id"
    },
    {
      "label": "library_version",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name_and_version", "type": "STRING" },
        { "name": "name", "type": "STRING" },
        { "name": "version", "type": "STRING" },
        { "name": "documentation", "type": "STRING" }
      ],
      "primary": "name_and_version"
    },
    {
      "label": "application_version",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name_and_version", "type": "STRING" },
        { "name": "name", "type": "STRING" },
        { "name": "version", "type": "STRING" }
      ],
      "primary": "name_and_version"
    },
    {
      "label": "version",
      "type": "VERTEX",
      "properties": [
        { "name": "name_and_version", "type": "STRING" }
      ],
      "primary": "name_and_version"
    },
    {
      "label": "has_type",
      "type": "EDGE",
      "properties": [],
      "constraints": [["program", "library"], ["program", "application"]]
    },
    {
      "label": "has_version",
      "type": "EDGE",
      "properties": [],
      "constraints": [["library", "library_version"], ["application", "application_version"]]
    },
    {
      "label": "has_dep_version",
      "type": "EDGE",
      "properties": [],
      "constraints": [["library_version", "version"], ["application_version", "version"]]
    },
    {
      "label": "depends_on",
      "type": "EDGE",
      "properties": [],
      "constraints": [["version", "version"]]
    }
  ],
  "files": [
    {
      "path": "/workdir/target/tugraph_import_files_mq/program.csv",
      "header": 1,
      "format": "CSV",
      "label": "program",
      "columns": ["description","doc_url","github_url","id","max_version","mega_url","name","namespace"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/library.csv",
      "header": 1,
      "format": "CSV",
      "label": "library",
      "columns": ["cratesio","downloads","id","name"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/application.csv",
      "header": 1,
      "format": "CSV",
      "label": "application",
      "columns": ["id", "name"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/library_version.csv",
      "header": 1,
      "format": "CSV",
      "label": "library_version",
      "columns": ["documentation","id","name","name_and_version","version"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/application_version.csv",
      "header": 1,
      "format": "CSV",
      "label": "application_version",
      "columns": ["id","name","name_and_version","version"]
    },
        {
      "path": "/workdir/target/tugraph_import_files_mq/version.csv",
      "header": 1,
      "format": "CSV",
      "label": "version",
      "columns": ["name_and_version"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/has_lib_type.csv",
      "header": 1,
      "format": "CSV",
      "label": "has_type",
      "SRC_ID": "program",
      "DST_ID": "library",
      "columns": ["DST_ID", "SRC_ID"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/has_app_type.csv",
      "header": 1,
      "format": "CSV",
      "label": "has_type",
      "SRC_ID": "program",
      "DST_ID": "application",
      "columns": ["DST_ID", "SRC_ID"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/lib_has_version.csv",
      "header": 1,
      "format": "CSV",
      "label": "has_version",
      "SRC_ID": "library",
      "DST_ID": "library_version",
      "columns": ["DST_ID", "SRC_ID"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/app_has_version.csv",
      "header": 1,
      "format": "CSV",
      "label": "has_version",
      "SRC_ID": "application",
      "DST_ID": "application_version",
      "columns": ["DST_ID", "SRC_ID"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/lib_has_dep_version.csv",
      "header": 1,
      "format": "CSV",
      "label": "has_dep_version",
      "SRC_ID": "library_version",
      "DST_ID": "version",
      "columns": ["DST_ID", "SRC_ID"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/app_has_dep_version.csv",
      "header": 1,
      "format": "CSV",
      "label": "has_dep_version",
      "SRC_ID": "application_version",
      "DST_ID": "version",
      "columns": ["DST_ID", "SRC_ID"]
    },
    {
      "path": "/workdir/target/tugraph_import_files_mq/depends_on.csv",
      "header": 1,
      "format": "CSV",
      "label": "depends_on",
      "SRC_ID": "version",
      "DST_ID": "version",
      "columns": ["DST_ID", "SRC_ID"]
    }
  ]
}