[package]
name = "git"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[lib]
name = "git"
path = "src/mod.rs"


[dependencies]
database = {path = "../database"}
common = { path = "../common" }
anyhow = "1.0.71"
bstr = "1.4.0"
chrono = "0.4.24"
colored = "2.0.0"
deflate = "1.0.0"
flate2 = "1.0.26"
hex = "0.4.3"
sha1 = "0.10.5"
thiserror = "1.0.38"
futures = "0.3.28"
bytes = "1.4.0"
tracing = "0.1.37"
tokio = "1.28.1"
axum = "0.6.18"
hyper = "0.14.26"
byteorder = "1.4.3"
crc = "3.0.1"
tokio-test = "0.4.2"
russh = "0.37.1"
russh-keys = "0.37.1"
async-trait = "0.1.68"
rand = "0.8.5"
serde_json = "1.0.96"
lru = "0.10.0"