[package]
name = "p2p"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "p2p"
path = "src/mod.rs"


[dependencies]
clap = { version = "4.3.0", features = ["derive"] }
tracing = "0.1.37"
futures = "0.3.28"
futures-timer = "3.0.2"
async-std = { version = "1.10", features = ["attributes"] }
libp2p = { version = "0.51.3", features = ["dcutr", "kad", "yamux", "identify", "noise", "macros", "relay", "tcp", "async-std", "rendezvous", "dns", "request-response"] }
tokio = { version = "1.28", features = ["rt-multi-thread", "macros", "time"] }
async-trait = "0.1.68"