[package]
name = "p2p"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "p2p"
path = "src/lib.rs"


[dependencies]
git = { path = "../git" }
storage = { path = "../storage" }
entity = { path = "../storage/entity" }
common = { path = "../common" }
bytes = "1.4.0"
tokio = "1.32.0"
tracing = "0.1.37"
futures = "0.3.28"
futures-timer = "3.0.2"
async-std = { version = "1.10", features = ["attributes"] }
libp2p = { version = "0.52.4", features = ["dcutr", "kad", "yamux", "noise", "identify", "macros", "relay", "tcp", "async-std", "rendezvous", "request-response", "cbor"] }
serde = { version = "1.0.188", features = ["derive"] }
clap = { version = "4.4.0", features = ["derive"] }
#sea-orm = "0.12.2"
serde_json = "1.0.105"
async-trait = "0.1"
cbor4ii = { version = "0.3.1", features = ["serde1", "use_std"] }