[package]
name = "orion-server"
version = "0.1.0"
edition = "2024"

[dependencies]
orion = { workspace = true }
common = { workspace = true}
io-orbit = { workspace = true }

http = { workspace = true }
axum = { workspace = true, features = ["macros", "ws"] }
tokio = { workspace = true, features = ["rt-multi-thread", "fs", "process"] }
tokio-retry = "0.3"
tokio-stream = { workspace = true, features = ["sync"] }
tokio-util = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
uuid = { workspace = true, features = ["v7"] }
tower-http = { workspace = true, features = ["trace", "cors"] }
tower = { workspace = true }
sea-orm = { workspace = true, features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
    "macros",
] }
dotenvy = { workspace = true }
rand = { workspace = true }
dashmap = { workspace = true }
utoipa.workspace = true
utoipa-swagger-ui = { workspace = true, features = ["axum"] }
chrono = { workspace = true, features = ["serde"] }
reqwest.workspace = true
anyhow = { workspace = true }
async-trait = { workspace = true }
aws-sdk-s3 = { workspace = true }
aws-config = { workspace = true }
once_cell = { workspace = true }

[dev-dependencies]
tempfile = "3"
