[package]
name = "orion-server"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = { workspace = true, features = ["macros", "ws"] }
axum-extra = { workspace = true, features = ["erased-json"] }
tokio = { workspace = true, features = ["rt-multi-thread", "fs", "process"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
futures-util = { workspace = true }
uuid = { workspace = true, features = ["v7"] }
dashmap = "6.1.0"
tower-http = { workspace = true, features = ["trace"] }
scopeguard = "1.2.0"
rand = "0.8.5"
orion = { path = "../orion" }
sea-orm = { workspace = true, features = [
    "sqlx-postgres",
    "runtime-tokio-rustls",
    "macros",
] }
dotenvy = "0.15.7"