[package]
name = "storage"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "storage"
path = "src/lib.rs"


[dependencies]
common = {path = "../common"}
entity = {path = "./entity"}
anyhow = "1.0.75"
async-trait = "0.1.71"
tracing = "0.1.37"
idgenerator = "2.0.0"
chrono = "0.4.24"
sha256 = "1.1.4"
serde = "1.0.188"
serde_json = "1.0.105"
futures = "0.3.28"
sea-orm = {version = "0.12.9", features = [
    "sqlx-postgres",
    "sqlx-mysql",
    "runtime-tokio-rustls",
    "macros",
]}
aws-config = {version = "1.0.3", features = ["behavior-version-latest"]}
aws-sdk-s3 = "1.7.0"
aws-smithy-types = "1.1.1"
thiserror = "1.0.50"
bytes = "1.5.0"

[dev-dependencies]
tokio = { version = "1.35.0", features = ["macros"] }