[package]
name = "saturn"
version = "0.1.0"
edition.workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
thiserror = { workspace = true }
cedar-policy = { workspace = true }
itertools = { workspace = true }
regex = { workspace = true }
lazy_static = { workspace = true }
