body {
    margin: 0;
    padding: 0;
}

.projectName {
    display: flex;
}

.fileTableIcon {
    width: 23px;
    height: 23px;
    margin-right: 8px;
}


.innerTable {
    overflow: hidden;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-radius: 0.5rem;
}

.dirShowTable {
    min-width: 100%;
    min-width: 100%;
    --tw-divide-y-reverse: 0;
    border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    --tw-divide-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-divide-opacity));
    border-collapse: collapse;

}

.dirShowTableThead {
    background-color: rgb(249 250 251);
}

.dirShowTableTr {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    padding-left: 1rem;
    padding-right: 0.75rem;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.dirShowTableTbody> :not([hidden])~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    border-color: rgb(229 231 235);
    background-color: rgb(255 255 255);
}

.projectName {
    white-space: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    padding-left: 1rem;
}

.projectCommitMsg {
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;

    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.readmeContainer {
    margin-top: 2rem;
    margin-left: 1rem;
}

.markdownContent {
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid rgba(0, 0, 0, 0.112);
    padding: 2%;
    border-radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);

}

.dirTreeContainer {
    margin-top: 20px;
    float: left;
}

.breadCrumb {
    width: 80%;
    margin-left: 18%;
    margin-top: 20px;
}

.navSearchContainer {
    position: relative;
    border-radius: 0.375rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.navSearchNextContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
}

.navSearchContainerSvg {
    width: 1.5rem;
    width: 1.5rem;
    width: 1.5rem
}

.navSerchInput {
    display: block;
    border-radius: 0.375rem;
    border: 1px solid rgba(128, 128, 128, 0.321);
}

.fileCodeContainer {
    width: 80%;
    margin-left: 18%;
    border-radius: 0.5rem;
    margin-top: 10px;

}

.codeShowContainer {
    border-radius: 1rem;
    padding-top: 70px;
}

.codeLineNumber {
    margin-left: 15px;
    margin-right: 25px;
}

.viewChangeTab {
    background-color: rgba(53, 53, 53, 0.103);
    display: flex;
    position: absolute;
    width: 80%;
    height: 50px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.viewChangeTabButton {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
}

.viewChangeTabButton:hover,
.viewChangeTabButton:checked {
    background-color: rgba(0, 0, 0, 0.121);
}

.token-line .comment {
    white-space: pre-wrap;
}