.navContainer {
    background-color: rgba(217, 225, 233, 0.295);
    padding-top: 0.4%;
    padding-bottom: 0.7%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navRight {
    margin-right: 5px;
}

.logOfMega {
    height: 20%;
    width: 20%;
    margin-left: 5px;
}

.titleOfMega {
    font-size: 25px;
    font-weight: 500;
    margin-left: 5%;
}

.navSerchInput {
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.navSearchNextContainer {
    display: block;
}

.navSearchContainer input:not(:placeholder-shown)+.navSearchNextContainer {
    display: none;
}

.navLogs {
    height: 40px;
    width: 40px;
}

.navRightItem {
    margin-left: 10px;

}

.navRight,
.navLeft {
    display: flex;
    align-items: center;
}

.logOfHead {
    height: 60px;
    width: 60px;
}

.navLinkIcons {
    display: flex;
    justify-content: center;
}

.navLinkUl {
    display: flex;
    align-items: center;
}

.navLinkUl .navLinkLi:not(:first-child) {
    margin-left: 30px;
}

.navLinkLi {
    display: flex;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.608);
    font-size: 20px;
    align-items: center;
    border-bottom: 3px solid transparent;

}

.navLinkLi:hover {
    border-bottom: 3px solid rgba(21, 21, 176, 0.559);
}

.navPagesIcon {
    margin-right: 5px;
    width: 35px;
}