.codeLineNumber {
    margin-left: 4px;
    width: 50px;
    align-items: center;
    align-self: center;
    user-select: none;
}

.toolbar {
    background-color: #f6f8fa;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #d1d9e0;
}

.toolbarLeftButton {
    padding:0 20px;
    height: 100%;
    border-radius: 0.5rem;
}

.toolbarLeftButton.active {
    background-color: #ffffff;
    border: solid 1px #818b98;
}

.toolbarRightButton {
    padding:0 20px;
    height: 100%;
}

.toolbarRightButton:hover {
    background-color: #e0e5ea;
    transition: all 0.5s;
}