# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
#
# History:
#   1. 2023-02-14: Created at 2023-02-14T16:00:00Z by Quanyi Ma <eli@patch.sh>
#   2. 2024-05-07: Update the `fuse` job to install `fuse3` and `libfuse3-dev` at 2024-05-07T16:00:00Z by Xiaoyang Han <lux1an216@gmail.com>
#   3. 2025-02-27: Reconstruct the workflow and add `install-dep` action to support test on multiple platforms by Neon <yyk1249501542@gmail.com>
#

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'config/**'
      - 'docker/**'
      - 'docs/**'
      - 'moon/**'
      - 'scripts/**'
      - 'toolchains/**'
      - '.github/workflows/web-**'
      - 'extensions/**'

name: Base GitHub Action for Check, Test and Lints

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  format:
    if: ${{ github.repository == 'web3infra-foundation/mega' }}
    name: Rustfmt Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install nightly toolchain
        run: |
          rustup toolchain install nightly --profile minimal
          rustup component add rustfmt --toolchain nightly

      - run: cargo +nightly fmt --all --check

  #
  clippy:
    if: ${{ github.repository == 'web3infra-foundation/mega' }}
    name: Clippy Check
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
      RUSTUP_TOOLCHAIN: stable
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install system dependencies
        uses: ./.github/install-dep
        with:
          cache-key: sysdeps
          platform: ubuntu

      - name: Run cargo clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings

  test:
    name: Full Test
    if: ${{ github.repository == 'web3infra-foundation/mega' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu
            runs-on: [self-hosted, Linux, X64]
            home: /home/github

    runs-on: ${{ matrix.runs-on }}
    env:
      CARGO_TERM_COLOR: always
      RUSTUP_TOOLCHAIN: stable
      HOME: ${{ matrix.home }}
    steps:
      - name: Install Redis
        run: sudo apt-get update && sudo apt-get install -y redis-server

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      - name: Install system dependencies
        uses: ./.github/install-dep
        with:
          cache-key: sysdeps
          platform: ${{ matrix.os }}
          self-hosted: true
          use-gtk: false

      - name: Set up git lfs
        run: |
          echo "GPG_TTY=${{ matrix.os == 'windows' && 'CON' || '$(tty)' }}" >> $GITHUB_ENV
          git lfs install
          git config --global user.email "mega@github.com"
          git config --global user.name "Mega"
          git config --global lfs.url http://localhost:8000

      - name: Run cargo test
        run: |
          cargo test --manifest-path common/Cargo.toml --all-features --no-fail-fast -- --nocapture
          cargo test --manifest-path jupiter/Cargo.toml --all-features --no-fail-fast -- --nocapture
          cargo test --manifest-path ceres/Cargo.toml --all-features --no-fail-fast -- --nocapture
          cargo test --manifest-path vault/Cargo.toml --all-features --no-fail-fast -- --nocapture
          cargo test --manifest-path saturn/Cargo.toml --all-features --no-fail-fast -- --nocapture

  fuse:
    name: Fuse Clippy Check
    if: ${{ github.repository == 'web3infra-foundation/mega' }}
    runs-on: [self-hosted, Linux, X64]
    env:
      CARGO_TERM_COLOR: always
      RUSTUP_TOOLCHAIN: stable
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo clippy --manifest-path scorpio/Cargo.toml --all-targets --all-features -- -D warnings
