name: Orion server deploy
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/orion-server-deploy.yml"
      - "orion-server/**"

env:
  AWS_ECS_CLUSTER_NAME: ${{ secrets.AWS_ECS_CLUSTER_NAME }}
  AWS_ECS_WEB_SERVICE_NAME: ${{ secrets.AWS_ECS_WEB_SERVICE_NAME }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: ${{ github.repository == 'web3infra-foundation/mega' }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Build, tag, and push docker image to Amazon ECR Public
        env:
          REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
          REGISTRY_ALIAS: m8q5m4u3
          REPOSITORY: mega
          IMAGE_TAG: orion-server-0.1.0-pre-release
        run: |
          docker buildx build \
          -t $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG \
          -f orion-server/Dockerfile \
          --push .

  deploy:
    if: ${{ github.repository == 'web3infra-foundation/mega' }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - cluster: gitmega-com
            service: orion-server-dev-service-om0caign
          - cluster: gitmono-com-mega-app
            service: orion-server-service
    steps:
      - name: Force ECS redeploy
        run: |
          aws ecs update-service \
            --cluster ${{ matrix.cluster }} \
            --service ${{ matrix.service }} \
            --force-new-deployment
        env:
          AWS_REGION: ap-southeast-2
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
